body { margin:0px; padding:0px; font-family: tahoma; font-size:13px; background:url(../img/background.png) repeat-x #fff }
#wrapper { width:1200px; margin:0px auto; padding:0px ;}
#footer { color:#ccc }
hr { border-top:1px solid #DBDBDE; border-right:none; border-left:none; margin:5px 0px 5px 0px; border-bottom:1px solid #fff}
.hrHeader { margin-bottom:20px }
#header { background:#fff; padding:10px }
.img { border:1px solid #ccc; background:#f1f1f1; padding:4px }
.ClearFix{ content:""; height: 0; clear: both; font-size: 0; visibility: hidden; }
fieldset { border:0px; }
.floatRight { float:right }
.floatLeft { float:left }
.sprite { background: url('img/index.png') no-repeat top left; width: 16px; height: 16px; display:inline-block  }
.sprite.plus-4-16 { background-position: 0px 0px;  } 
.sprite.search-3-16 { background-position: -16px 0px;  } 
.k-block.extended { padding:8px }
.k-block.extended.auto { padding:8px; display:inline-block }
.pageTitle { color:#005186; padding:5px 0px 0px 5px; margin:0px }

.tableStyling { border-collapse: collaspe; border:1px solid #DBDBDE; border-top:none }
.tableStyling td { border-top:1px solid #DBDBDE; padding: 6px; }
.tableStyling th { border-top:1px solid #DBDBDE; padding: 6px; }
.tableStyling tr:nth-child(odd) { background:#fff }

.tableStylingReport { border-collapse: collaspe; border:1px solid #DBDBDE; border-top:none; border-left:none }
.tableStylingReport td { border-top:1px solid #DBDBDE; border-left:1px solid #DBDBDE; padding: 6px; }
.tableStylingReport th {  border-top:1px solid #DBDBDE; border-left:1px solid #DBDBDE; padding: 6px; }
.tableStylingReport tr:nth-child(odd) { background:#f1f1f1 }

.k-primary-green { background:#000 }

.message { 
	-moz-border-radius:4px 4px 4px 4px; 
	border-radius:4px 4px 4px 4px;
	padding:1px 6px 2px 6px;
	margin:0px 0px 5px 0px;
	display:inline-block;
	/* font-size:11px; */
}
.message.red { background:#CC0000; color:#fff;   }
.message.orange { background:#FF6600; color:#fff;   }
.message.green { background:#336600; color:#fff;   }

.tag { 
	-moz-border-radius:4px 4px 4px 4px; 
	border-radius:4px 4px 4px 4px;
	padding:1px 6px 2px 6px;
	/* font-size:11px; */
}

.tag.float-right { float:right; height:150px; max-height:15px; padding:0px 6px 2px 6px  }

.tag.light-blue { background:#D8E9F0; color:#2E2E2E;  }
.tag.red-dark { background:#990000; color:#fff;  }
.tag.red { background:#CC0000; color:#fff;   }
.tag.orange { background:#FF6600; color:#fff;   }
.tag.green { background:#336600; color:#fff;   }
.tag.blue-green { background:#10C4B2; color:#000;   }
.tag.dark-pink { background:#E0004F; color:#fff;    }
.tag.light-gray { background:#E6E6E6; color:#000;   }
.tag.light-gray-bordered { background:#E6E6E6; color:#000;  text-shadow: 1px 1px #fff; border:1px solid #A3A3A3  }
.tag.blue { background:#005186 ; color:#fff;   }

.sprite { background: url('../img/index.png') no-repeat top left; width: 16px; height: 16px; display:inline-block  } 
.sprite.activity-feed-16 { background-position: 0px 0px;  } 
.sprite.area-chart-16 { background-position: -16px 0px;  } 
.sprite.arrow-229-16 { background-position: -32px 0px;  } 
.sprite.banknotes-16 { background-position: -48px 0px;  } 
.sprite.businessman-16 { background-position: -64px 0px;  } 
.sprite.businessman-16-white { background-position: -80px 0px;  } 
.sprite.cancel-16 { background-position: -96px 0px;  } 
.sprite.card-in-use-16 { background-position: -112px 0px;  } 
.sprite.cash-receiving-16 { background-position: -128px 0px;  } 
.sprite.check-mark-16 { background-position: -144px 0px;  } 
.sprite.close-window-16 { background-position: -160px 0px;  } 
.sprite.delete-16 { background-position: -176px 0px;  } 
.sprite.edit-property-16 { background-position: -192px 0px;  } 
.sprite.factory-16 { background-position: -208px 0px;  } 
.sprite.gear-2-16 { background-position: -224px 0px;  } 
.sprite.invoice-16 { background-position: -240px 0px;  } 
.sprite.key-16 { background-position: -256px 0px;  } 
.sprite.plus-4-16 { background-position: -272px 0px;  } 
.sprite.plus-16 { background-position: -288px 0px;  } 
.sprite.posterous-spaces-3-16 { background-position: -304px 0px;  } 
.sprite.printer-16 { background-position: -320px 0px;  } 
.sprite.printer-16_white { background-position: -336px 0px;  } 
.sprite.private-16 { background-position: -352px 0px;  } 
.sprite.product-16 { background-position: -368px 0px;  } 
.sprite.purchase-order-16 { background-position: -384px 0px;  } 
.sprite.refresh-16 { background-position: -400px 0px;  } 
.sprite.save-16 { background-position: -416px 0px;  } 
.sprite.save-16-white { background-position: -432px 0px;  } 
.sprite.search-3-16 { background-position: -448px 0px;  } 
.sprite.shopping-bag-16 { background-position: -464px 0px;  } 
.sprite.sinchronize-16 { background-position: -480px 0px;  } 
.sprite.table-16 { background-position: -496px 0px;  } 
.sprite.table-16-white { background-position: -512px 0px;  } 
.sprite.time-12-16 { background-position: -528px 0px;  } 
.sprite.undo-2-16 { background-position: -544px 0px;  } 
.sprite.x-mark-3-16 { background-position: -560px 0px;  } 